env/
__pycache__/
*.pyc
*.pyo
*.pyd

datas/
datas.zip
faces/
media/
models/
runs/
runs3/
runs3.rar
train/
test/
wep_dataset/
wepontool/weapon_detection/train/
wepontool/weapon_detection/val/
weapon_detection_test/


visitorcounter-25074-firebase-adminsdk-fbsvc-41f4336c6d.json

*.pt
*.h5
*.cache
*.pth
*.onnx
*.rar
*.zip

db.sqlite3
*.json
face_model.yml
labels.pickle